ProjectSettings
Assembly-CSharp.csproj
Bedivere FSM.sln
Bedivere FSM.userprefs
obj/Debug/Assembly-CSharp.csproj.FilesWrittenAbsolute.txt
obj/Debug/Assembly-CSharp.dll
obj/Debug/Assembly-CSharp.dll.mdb
